.card {
margin: 10px;
border: 1px solid #D0D0D0;
-webkit-box-shadow: 0 0 8px #D0D0D0;
}
div.center{
  text-align:center;
}
.img-body{
	background:url('../../assets/img/pattern/purty_wood.png');
}
.bg-white{
	background: white;
}
.campaign-status-section{
	margin-bottom: 100px;
}
body{
	font-family:'Lucida Grande',Tahoma,'sans-serif','微軟正黑體','蘋果儷中黑','儷黑 Pro',Verdana,Arial!important; 
	}
table th {
    text-align: center;   
}
table td {
    text-align: center;   
}
.text-left{
    text-align: left;
}
body{
    /*font-size:16px;*/
}
.affix{
    position: static;
    width: auto;
    top: 0;
}
.nav-tabs> .active > a, .nav-tabs>.active>a:hover{
    background-color: #4572A7;
    color: white;
}
.widget-header {
    background: -moz-linear-gradient(center top , #FAFAFA 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.widget-header + .widget-content {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 15px 0px;
}
#nodes_amount_slider .ui-slider-range { background: #729fcf; }
#nodes_amount_slider .ui-slider-handle { border-color: #729fcf; }
.section-header h1 {
	margin-left:30px;
}
.ul-edit{
    width: 60px;
}